@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte1: 'Poppins', Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte1);
}

header {
    background-color: #006225;
    box-shadow: 1px 4px 5px #0000005b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo-header {
    background-color: #ffffff;
    box-shadow: 3px 1px 5px #0000005b;
}

.logo1 {
    width: 100px;
    padding: 30px 15px 30px 15px;
    background-color: #ffffff
}

.cabeçalho-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
}

#cardapio {
    font-family: var(--fonte1);
    font-size: 30px;
    font-weight: 300;
    margin-bottom: -20px;
}

.title-header {
    width: 100%;
}

.title-header > h1 {
    font-family: var(--fonte1);
    font-weight: 500;
    font-size: 40px;
    padding-left: 20px;
    width: 100%;
    color: #ffffff;
    text-shadow: 1px 1px 5px #00000091;
}

main {
    padding-bottom: 300px;
}


section {
    padding: 20px;
}



section > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #dfdfdf;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    max-height: 200px;
    max-width: 1000px;

}

.img-pts {
    width: 30vw;
    max-width: 200px;
}

section > h1 {
    padding: 20px 20px 5px 20px;
}

.texto-pt {
    padding-left: 20px;
}

.texto-pt > p {
    height: 150;
}

.menu {
    background-color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px -4px 5px #0000005b;
    padding: 10px;
    position: fixed;
    bottom: 0px;    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

nav > a {
    font-family: var(--fonte1);
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    background-color: #006225;
    border-radius: 20px;
    padding: 7px 10px;
    text-decoration: none;
    margin: 4px;
}